

.settingsButton
{
	position: fixed;
	left: 5px;
	bottom: 5px;
	height: 70px;
	width: 70px;
	color: white;
	opacity: 0.6;
	/*background-color: #55B89D;*/
}


.settingsButton:hover
{
	opacity: 1;
	cursor: pointer;
}

